*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.contents {
    padding: 20px;
}

.contents + .contents {
    margin-top: 20px;
}

.contents h2 {
    font-weight: bold;
    line-height: 120%;
}

.contents h2 span {
    font-size: 16px;
    color: #e74343;
}

.contents p {
    margin-top: 10px;
}

.contents img {
    width: 100%;
    max-width: 100%;
}

.contents ul li + li  {
    margin-top: 0.5em;
}

.contents .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.contents .grid li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
